.app {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 2px solid blue;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 3px solid red;
}

.rectangle {
  position: absolute;
  background-color: gray;
}
